
<div id="earlyapopter-view">
  <div class="row">
    <div class= "three columns tweets">

      <div id="newideas-tweets">
        <a id="newideas-tweets"class="twitter-timeline" href="https://twitter.com/hashtag/newideas" data-widget-id="653988299418177536">#newideas Tweets</a>
      </div>

    </div>
    <div class = "nine columns news">

      <h3 class="center">Trending Topics</h3>
      <div class="trending">
        <p class="trending center"></p>
      </div>
      <h3 class="center">News From Around the Web</h3>
      <div class="links">
      </div>
    </div>
  </div>

</div>
