<script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>

<div id="venturecapital-view">
  <div class="row">
    <div class= "three columns tweets">
      <div id="venturecapital-tweets">
        <a class="twitter-timeline" href="https://twitter.com/hashtag/venturecapital" data-widget-id="653988668906999808">#venturecapital Tweets</a>
      </div>
    </div>
    <div class = "nine columns news">
      <h3 class="center">Stock Update</h3>
      <div class="center" id="tv-miniwidget-93ff8"></div>
      <h3 class="center">News From Around the Web</h3>
      <div class="links">
      </div>
    </div>
  </div>
</div>
