<h2>Sign Up</h2>

<i class="fa fa-times exit-signup"></i>

<form action="users/new" method="post" value="user">
  <input type="text" name="first_name">
  <input type="text" name="last_name">
  <input type="email" name = "email">
  <input type="password" name="password">
  <input type="password" name="password_confirmation">
  <input type="submit" value="Sign Up">

</form>
