<h2>Sign Up</h2>

<i class="fa fa-times exit-signup"></i>

<form action="/users" method="post" value="user" id="header-signup-form">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input type="text" name="first_name">
  <input type="text" name="last_name">
  <input type="email" name = "email">
  <input type="password" name="password">
  <input type="password" name="password_confirmation">
  <input type="submit" value="Sign Up">

</form>
