<h2>Edit Your Profile</h2>

<form id="user_form" class="edit_user" action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="_method" value="put" /><input type="hidden" name="authenticity_token" value="HcqQG/qjTnpsx8CL09vqtK/iCbtASoLf7vdnAQ7oyCgV+svPWWpXQiZspVro9jrfWPn6qT15aQExOcjvOz2TJg==" />


  <div class="row">
    <div class="new-pitch field five columns">
      <input autofocus="autofocus" placeholder="first name" type="text" name="user[first_name]" id="user_first_name" />
    </div>
  </div>

  <div class="row">
    <div class="new-pitch field five columns">
      <input autofocus="autofocus" placeholder="last name" type="text" name="user[last_name]" id="user_last_name" />
    </div>
  </div>

  <div class="row">
    <div class="new-pitch field five columns">
      <input autofocus="autofocus" placeholder="email" type="email" name="user[email]" id="user_email" />
    </div>
  </div>


  <div class="row">
    <div class="new-pitch field five columns">
      <label for="user_password">Password</label><br />
      <input autocomplete="off" placeholder="password (leave blank if you don&#39;t want to change it)" type="password" name="user[password]" id="user_password" />
    </div>
  </div>

  <div class="row">
    <div class="new-pitch field five columns">
      <input autocomplete="off" placeholder="confirm password" type="password" name="user[password_confirmation]" id="user_password_confirmation" />
    </div>
  </div>

  <div class="row">
    <div class="new-pitch field five columns">
      <input autocomplete="off" placeholder="avatar url" type="url" value="" name="user[picture_url]" id="user_picture_url" />
    </div>
  </div>

  <div class="row">
    <div class="new-pitch field five columns">
      <input placeholder="company" type="text" name="user[company]" id="user_company" />
    </div>
  </div>

  <div class="row">
    <div class="new-pitch field five columns">
      <label for="user_blurb">Blurb</label><br />
      <textarea name="user[blurb]" id="user_blurb" placeholder="Say something about yourself"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="new-pitch field five columns">
      <label for="user_phone">Phone</label><br />
      <input autocomplete="off" placeholder="phone" type="tel" value="" name="user[phone]" id="user_phone" />
    </div>
  </div>

  <label for="user_user_type">User type</label>
  <div class="row">
    <div class="field one column"><input type="radio" name="user_type" id="user_type_business" value="business" /></div>
    <div class="field five columns">I'm an entrepeneur</div>
  </div>
  <div class="row">
      <div class="field one column"><input type="radio" name="user_type" id="user_type_investor" value="investor" /></div>
      <div class="field five columns">I'm interested in investing</div>
  </div>
  <div class="row">
      <div class="field one column"><input type="radio" name="user_type" id="user_type_early_adopter" value="early_adopter" /></div>
      <div class="field five columns">I'm an early adopter</div>
  </div>

  <div class="row">
    <div class="field">
      <label for="user_current_password">Current password</label> <i>(we need your current password to confirm your changes)</i><br />
      <input autocomplete="off" type="password" name="user[current_password]" id="user_current_password" />
    </div>
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Update" />
  </div>
</form>
<h3>Cancel my account</h3>

<p>Unhappy? <a data-confirm="Are you sure?" class="button" rel="nofollow" data-method="delete" href="/users">Cancel my account</a></p>

<a href="http://localhost:9000/pitches/new">Back</a>

</div>