<div class="row" id="nav-bar">
    <div class="one column"><%= link_to "Home", pitches_path, :class => "home-link" %></div>
    <div class="one column"><%= link_to "News", startup_world_path %></div>

  </div>
